<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="email=no" />
    <meta name="wap-font-scale" content="no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>web1主页</title>
    <meta name="keywords" content="页面关键字" />
    <meta name="description" content="页面描述" />
    <link href="../../static/axui/css/ax.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/web1mainpage.css" rel="stylesheet" type="text/css">
    <link href="../../static/axui/css/ax-response.css" rel="stylesheet" type="text/css">
    <script src="../../static/js/vue.js"></script>
</head>

<body>
    <div class="mainbox" id="root">
        <div v-if="shownotice" class="noticebox">
            <span class="noticetitle">提示</span>
            <p class="noticetext">
                请绑定身份信息，否则无法报名参加志愿活动！
            </p>
            <button class="ax-btn noticeconfirm">确定</button>
        </div>
        <div class="banner">
            <span class="sitename">网站名称</span>
            <span class="login">
                <a href="web2-school-administrator.html" v-if="loginstatus" class="ax-color-primary log">{{username}}的主页</a>
                <a href="loginscreen.html" v-if="loginstatus" class="ax-color-primary log">退出</a>
                <a href="loginscreen.html" v-if="!loginstatus" class="ax-color-primary log">{{loginstatus}}</a>
            </span>
        </div>
        <div class="search">
            <button class="ax-btn searchbutton">首页</button>
            <div class="ax-form-con">
                <div class="ax-form-input"><input class="ax-response" type="text" placeholder="输入关键字..."><span class="ax-response ax-pos-right"><a href="###"
                            class="ax-iconfont ax-icon-close ax-val-none"></a><a href="###"
                            class="ax-iconfont ax-icon-search ax-response"></a></span></div>
            </div>
        </div>
        <div class="ax-break"></div>
        <div class="scrolpic">
            <div class="ax-swiper" id="swiperpic">
                <div class="ax-wrapper">
                    <div class="ax-slide ax-align-origin pic" id="pic1">
                        <div class="spic" id="spic1"></div>
                    </div>
                    <div class="ax-slide ax-align-origin pic" id="pic2">
                        <div class="spic" id="spic1"></div>
                    </div>
                    <div class="ax-slide ax-align-origin pic" id="pic3">
                        <div class="spic" id="spic1"></div>
                    </div>
                    <div class="ax-slide ax-align-origin pic" id="pic4">
                        <div class="spic" id="spic1"></div>
                    </div>
                </div>
                <div class="ax-pages"></div>
                <div class="ax-next"></div>
                <div class="ax-prev"></div>
            </div>
        </div>
        <div class="ax-break"></div>
        <div class="detailshow">
            <ul>
                <li v-for="item in detaillist" :key="item.id">
                    <div class="detailbox ax-lazy ax-fadeInUp ax-slowest">
                        <img :src="item.detailimage" class="detailimg">
                        <!-- <div class="detailimg">
                        </div> -->
                        <a class="infbox" href="web1detail.html">
                            <span>活动名称:{{item.name}}</span><span class="righttext">人数{{item.howmany}}</span>
                            <span>地点:{{item.where}}</span>
                            <p>详细介绍:{{item.detailinf}}</p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#root',
        data: {
            username: '用户名',
            loginstatus: true,
            detaillist: [{
                id: '0',
                name: '名称',
                where: '地点',
                howmany: '0/6',
                detailinf: '详情',
                detailimage: '../static/images/nopic.png',
            }, {
                id: '1',
                name: '名称',
                where: '地点',
                howmany: '0/6',
                detailinf: '详情',
                detailimage: '../static/images/nopic.png',
            }, {
                id: '2',
                name: '名称',
                where: '地点',
                howmany: '0/6',
                detailinf: '详情',
                detailimage: '../static/images/nopic.png',
            }, {
                id: '3',
                name: '名称',
                where: '地点',
                howmany: '0/6',
                detailinf: '详情',
                detailimage: '../static/images/nopic.png',
            }, {
                id: '4',
                name: '名称',
                where: '地点',
                howmany: '0/6',
                detailinf: '详情',
                detailimage: '../static/images/nopic.png',
            }, ],
            shownotice: false,



        },
    })
</script>
<script src="../../static/axui/js/ax.min.js" type="text/javascript"></script>
<script>
    let swiper160 = new axSwiper('#swiperpic', {
        autoplay: true
    });
</script>

</html>