<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/web3-edit.css">
    <title>编辑信息</title>
</head>

<body>
    <div class="header">
        <a class="return" href="web3-userinfo.html">&lt;</a>
        <span>基本信息</span>
        <input type="button" value="完成" />
    </div>
    <form>
        <ul class="list">
            <li>
                <span class="left">姓名：</span>
                <input class="right" />
            </li>
            <li>
                <span class="left">性别：</span>
                <select>
                    <option>男</option>
                    <option>女</option>
                </select>
            </li>
            <li>
                <span class="left">学校：</span>
                <input class="right" />
            </li>
            <li>
                <span class="left">学院：</span>
                <input class="right" />
            </li>
            <li>
                <span class="left">专业：</span>
                <input class="right" />
            </li>
            <li>
                <span class="left">学号：</span>
                <input class="right" />
            </li>
            <li>
                <span class="left">政治面貌：</span>
                <input class="right" />
            </li>
            <li>
                <span class="left">联系方式：</span>
                <input class="right" />
            </li>
        </ul>
    </form>

</body>

</html>