<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/web3-personal-homepage.css">
    <title>个人主页</title>
</head>

<body>
    <div class="header">
        <a href="web1mainpage.html" class="return">&lt;</a>
    </div>
    <div class="user">
        <div class="userhead">
            <div class="frame"></div>
            <div class="info">
                <span class="username">用户名</span>
                <ul class="stars">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <ul class="option">
            <li>
                <a href="web3-userinfo.html">
                    <span class="p userinfo"></span>
                    <span>基本信息</span>
                </a>
            </li>
            <li>
                <a href="web3usertime.html">
                    <span class="p time"></span>
                    <span>有效时长（时）</span>
                </a>
            </li>
            <li>
                <a href="web3starapply.html">
                    <span class="p apply"></span>
                    <span>星级志愿者申请</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="service">
        <span class="h">我的服务</span>
        <ul class="list">
            <li>
                <a href="#">
                    <span class="p experience"></span>
                    <span>志愿经历</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="p help"></span>
                    <span>帮助中心</span>
                </a>
            </li>
            <li>
                <a href="web3id.html">
                    <span class="p link"></span>
                    <span>身份绑定</span>
                </a>
            </li>
            <li>
                <a href="web3hasjoined.html">
                    <span class="p activities"></span>
                    <span>已报名活动</span>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>