.mainbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.noticebox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 12.8vw;
    top: 59.4667vw;
    width: 74.6667vw;
    height: 56vw;
    line-height: 5.3333vw;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    z-index: 100;
    background-color: #ffffff;
    border: 0.2667vw solid #bbbbbb;
}

.noticebox .lefttext {
    line-height: 8.33vw;
}

.noticebox .noticetitle {
    height: 8.3333vw;
    line-height: 8.33vw;
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.noticebox .noticetext {
    font-size: 15px;
    text-align: center;
    color: #888888;
}

.noticebox .noticeconfirm {
    margin-bottom: 1vw;
    box-sizing: 74.6667vw, 10vw;
    font-size: 4.8vw;
    color: #67D666;
    text-align: center;
}

.smbanner {
    width: 100vw;
    height: 9.6vw;
    text-align: center;
    align-self: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid #bbbbbb;
}

.smbanner .centertext {
    line-height: 9.6vw;
}

.smbanner .righttext {
    line-height: 9.6vw;
}

.smbanner .lefttext {
    line-height: 9.6vw;
}

.righttext {
    position: absolute !important;
    right: 0;
}

.lefttext {
    position: absolute !important;
    left: 0;
}

.timeshow {
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeicon {
    background-image: url(../images/timeicon.png);
    background-size: cover;
    width: 14.6667vw;
    height: 14.6667vw;
}

.timeresult {
    margin: 2vw;
    height: 7.4667vw;
    font-size: 5.3333vw;
}

.timeedit {
    height: 40vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.inputbox {
    width: 22vw;
    height: 8vw;
}

.talkbox {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: auto;
}

.talkbox .box1 {
    margin-right: 36vw;
}