.noticebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 12.8vw;
  top: 59.4667vw;
  width: 74.6667vw;
  height: 44vw;
  line-height: 5.3333vw;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
  z-index: 100;
  background-color: #ffffff;
  border: 0.2667vw solid #bbbbbb;
}
.noticebox .noticetitle {
  color: #000000;
  margin-top: 4vw;
  font-size: 18px;
  text-align: center;
}
.noticebox .noticetext {
  font-size: 15px;
  text-align: center;
  color: #888888;
}
.noticebox .noticeconfirm {
  box-sizing: 74.6667vw, 10vw;
  font-size: 4.8vw;
  color: #67D666;
  text-align: center;
}
.custom {
  width: 68.8vw;
  height: 53.3333vw;
  justify-content: space-around;
}
.custom .qrimg {
  align-self: center;
  width: 32vw;
  height: 32vw;
}
.custom .noticetitle {
  margin-top: 2vw;
}
.custom .noticetitlebox {
  width: 68.8vw;
}
.custom2 {
  width: 74.6667vw;
  height: 37.3333vw;
}
.custom2 .selectbox {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vw;
}
.custom2 .selectbox .noticecon {
  box-sizing: 21.3vw, 8vw;
}
.custom2 .selectbox .noticedeny {
  box-sizing: 21.3vw, 8vw;
}
.custom3 {
  position: fixed;
  left: 12.8vw;
  top: 59.4667vw;
  height: 37.3333vw;
  width: 74.6667vw;
  height: 44vw;
}
.custom3 .selectbox {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vw;
}
.custom3 .selectbox .noticecon {
  box-sizing: 21.3vw, 8vw;
}
.custom3 .selectbox .noticedeny {
  box-sizing: 21.3vw, 8vw;
}
.mainbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.smbanner {
  width: 100vw;
  height: 9.6vw;
  text-align: center;
  align-self: center;
}
.smbanner .centertext {
  line-height: 9.6vw;
}
.simpleinf {
  width: 100vw;
  height: auto;
}
.simpleinf .name {
  width: 22.4vw;
  height: 5.3333vw;
}
.simpleinf span {
  margin-top: 2vw;
  margin-right: 4vw;
  margin-left: 4vw;
  margin-bottom: 1vw;
}
.simpleinf .bannerpic {
  height: 41.8667vw;
  width: 100vw;
  object-fit: fill;
}
.simpleinf .simpleinftext {
  width: 100vw;
  height: auto;
}
.smborderbox {
  display: flex;
  flex-direction: row;
  border: 0.2667vw solid #bbbbbb;
}
.leaderinf .leaderico {
  width: 6.4vw;
  height: 6.4vw;
  margin-right: 1vw;
}
.leaderinf .tele {
  position: absolute;
  right: 0;
  width: 6.4vw;
  height: 6.4vw;
}
.qricon {
  position: fixed;
  right: 0px;
}
.detailname {
  margin: 4vw;
}
.detailbox {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.detailtext {
  align-self: center;
  width: 92.8vw;
  height: 191.7333vw;
  padding-left: 4vw;
  padding-right: 4vw;
  font-size: 3.7333vw;
  border-radius: 12px 12px 12px 12px;
  background-color: #ffffff;
  border: 1px solid #fd4209;
}
.righttext {
  position: absolute;
  right: 0;
}
.lefttext {
  position: absolute;
  left: 0;
}
.back {
  position: absolute;
  width: 6.4vw;
  height: 6.4vw;
  align-self: center;
  line-height: 9.6vw;
  left: 0;
}
.joinbtn {
  margin-bottom: 2vw;
  align-self: center;
  box-sizing: 21.2vw, 8vw;
}
