<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/userinfo.css">
    <title>基本信息</title>
</head>
<body>
    <div class="header">
        <a class="return" href="#">&lt;</a>
        <span>基本信息</span>
        <button>占位</button>
    </div>
    <ul class="list">
        <li>
            <span class="left">姓名：</span>
            <span class="right">谁谁谁</span>
        </li>
        <li>
            <span class="left">性别：</span>
            <span class="right"></span>
        </li>
        <li>
            <span class="left">学校：</span>
            <span class="right"></span>
        </li>
        <li>
            <span class="left">学院：</span>
            <span class="right"></span>
        </li>
        <li>
            <span class="left">专业：</span>
            <span class="right"></span>
        </li>
        <li>
            <span class="left">学号：</span>
            <span class="right"></span>
        </li>
        <li>
            <span class="left">政治面貌：</span>
            <span class="right"></span>
        </li>
        <li>
            <span class="left">联系方式：</span>
            <span class="right"></span>
        </li>
    </ul>
    <a class="but" href="#">编辑信息</a>
</body>
</html>
