<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/web2-time-mangement-detail.css">
    <title>志愿者时长管理</title>
</head>

<body>
    <div class="header">
        <a class="return" href="web2-time-management.html">&lt;</a>
        <span>活动名称</span>
        <a>发布</a>
    </div>
    <a href="#" class="box">
        <span class="top-left">姓名</span>
        <span class="top-right">+6.6h</span>
        <div class="bottom">
            <span class="left">院系专业</span>
            <span class="left">2022-07-31</span>
            <span class="left">11:17-17:56</span>
        </div>
    </a>
</body>

</html>