<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/web2-s-inform.css">
    <title>通知</title>
</head>
<body>
    <div class="header">
        <a class="return" href="web2-school-administrator.html">&lt;</a>
        <span>通知</span>
        <a>发布</a>
    </div>
    <a href="#" class="box">
        <span class="top">星级志愿者申请</span>
        <div class="bottom">
            <span class="left">2022年7月31日</span>
            <span class="right">申请人：谁谁谁</span>
        </div>
    </a>
</body>
</html>