<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="email=no" />
    <meta name="wap-font-scale" content="no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>详情页</title>
    <meta name="keywords" content="页面关键字" />
    <meta name="description" content="页面描述" />
    <script src="../static/js/vue.js"></script>
    <link href="../static/axui/css/ax.css" rel="stylesheet" type="text/css">
    <link href="../static/css/web2-manager-activityeditsign.css" rel="stylesheet" type="text/css">
    <link href="../static/axui/css/ax-response.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="mainbox" id="root">
        <div class="smbanner">
            <span class="ax-iconfont ax-icon-left-t back"></span>
            <span class="centertext">发布签到</span>
        </div>
        <div class="simpleinf">
            <div class="bannerpic">
                <img class="bannerpic" src="../static/images/nopic.png" alt="">
            </div>
            <div class="simpleinftext">
                <div class="leaderinf">
                    <div class="smborderbox">
                        <div class="ax-form-group" style="padding-right: 1vw;">
                            <div class="ax-flex-row">
                                <div class="ax-form-label">开始日期：</div>
                                <div class="ax-form-con">
                                    <div class="ax-form-input" style="flex: 1;">
                                        <input placeholder="选择日期" type="text" axDate data-mode="dialog"
                                            data-nowClose="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="smborderbox">
                        <div class="ax-form-group" style="padding-right: 1vw;">
                            <div class="ax-flex-row">
                                <div class="ax-form-label">结束日期：</div>
                                <div class="ax-form-con">
                                    <div class="ax-form-input" style="flex: 1;">
                                        <input placeholder="选择日期" type="text" axDate data-mode="dialog"
                                            data-nowClose="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="smborderbox">
                        <div class="ax-form-group" style="padding-right: 1vw;">
                            <div class="ax-flex-row">
                                <div class="ax-form-label">参与签到需输入口令：</div>
                                <div class="ax-flex-block"><label class="ax-switch"><input name="check-s" value="0"
                                            type="checkbox" checked=""><span></span></label></div>
                            </div>
                        </div>

                    </div>
                    <div class="smborderbox">
                        <div class="ax-form-group" style="padding-right: 1vw;">
                            <div class="ax-flex-row">
                                <div class="ax-form-label">参与人数</div>
                                <div class="ax-form-con">
                                    <div class="ax-form-input" style="flex: 1;"><input type="text"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <button class="ax-btn ax-ripple ax-secondary joinbtn">确认</button>
    </div>
</body>
<script>
    new Vue({
        el: '#root',
        data: {

        },
        methods: {

        },
    })
</script>
<script src="../static/axui/js/ax.min.js" type="text/javascript"></script>

</html>