<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="email=no" />
    <meta name="wap-font-scale" content="no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>星级志愿者申请</title>
    <meta name="keywords" content="页面关键字" />
    <meta name="description" content="页面描述" />
    <link href="../static/axui/css/ax.css" rel="stylesheet" type="text/css">
    <link href="../static/css/web3starapply.css" rel="stylesheet" type="text/css">
    <script src="../static/js/vue.js"></script>
</head>

<body>
    <div class="mainbox" id="root">
        <div class="smbanner">
            <span class="back ax-iconfont ax-icon-left-t lefttext"></span>
            <span class="centertext">星级志愿者申请</span>
        </div>
    <div class="title">郑州大学x星级志愿者申请表</div>
    <div class="table">
            <table class="tg" style="table-layout: fixed; width: 375px">
            <colgroup>
            <col style="width: 39px">
            <col style="width: 80px">
            <col style="width: 69px">
            <col style="width: 86px">
            <col style="width: 69px">
            <col style="width: 32px">
            </colgroup>
            <thead>
              <tr>
                <th class="tg-9wq8">姓名</th>
                <th class="tg-9wq8"></th>
                <th class="tg-9wq8">学院</th>
                <th class="tg-9wq8"></th>
                <th class="tg-9wq8" colspan="2" rowspan="3">
                    <img :src="img1">
                </th>
              </tr>
              <tr>
                <th class="tg-9wq8">性别</th>
                <th class="tg-lboi"></th>
                <th class="tg-9wq8">注册时间</th>
                <th class="tg-lboi"></th>
              </tr>
              <tr>
                <th class="tg-9wq8">民族</th>
                <th class="tg-lboi"></th>
                <th class="tg-9wq8">联系方式</th>
                <th class="tg-lboi"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-9wq8" rowspan="9">主要的志愿服务经历</td>
                <td class="tg-jkyp" colspan="5" rowspan="9">累计有效时长：             </td>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
                <td class="tg-9wq8" rowspan="5">意见基层团支部（团支部）</td>
                <td class="tg-jkyp" colspan="5" rowspan="5"><br>班级团支部签字：                  <br>          年      月      日</td>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
                <td class="tg-9wq8" rowspan="4">意见学院青协</td>
                <td class="tg-jkyp" colspan="5" rowspan="4">青协负责人签字：                 <br>年      月      日</td>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
              <tr>
                <td class="tg-9wq8" rowspan="2">备注</td>
                <td class="tg-0pky" colspan="5" rowspan="2"></td>
              </tr>
              <tr>
              </tr>
              <tr>
                <td class="tg-9wq8" rowspan="2">待补交材料</td>
                <td class="tg-0pky" colspan="5" rowspan="2"></td>
              </tr>
              <tr>
              </tr>
            </tbody>
            </table>
    </div>
    <div class="buttonbox">
        <button class="ax-btn">上传证明材料</button>
        <button class="ax-btn  ax-secondary">提交</button>
    </div>
</div>
</body>
<script>
        var vm = new Vue({
        el: '#root',
        data: {
            img1:'../static/images/nopic.png',
        },
    })
</script>
</html>