<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="email=no" />
    <meta name="wap-font-scale" content="no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>更改学号页</title>
    <meta name="keywords" content="页面关键字" />
    <meta name="description" content="页面描述" />
    <link href="../static/css/web3id.css" rel="stylesheet" type="text/css" />
    <link href="../static/axui/css/ax.css" rel="stylesheet" type="text/css">
    <link href="../static/axui/css/ax-response.css" rel="stylesheet" type="text/css">
    <script src="../static/js/vue.js"></script>
</head>

<body>
    <div class="mainbox" id="root">
        <div class="smbanner">
            <span class="back ax-iconfont ax-icon-left-t lefttext" v-show="back1"></span>
            <span class="back ax-iconfont ax-icon-left-t lefttext" v-show="back2"  @click="back()"></span>
            <span class="centertext" v-show="back1">身份绑定</span>
            <span class="centertext" v-show="back2">更换学号</span>
            <span class="righttext"  v-show="back1">完成</span>
            <span class="righttext" v-show="back2"  @click="back()">完成</span>
        </div>
        <div class="smborderbox" v-show="textshow">
            <span class="lefttext">绑定的学号：{{studennumber}}</span>
            <button class="righttext ax-btn" @click="changenumber">更换学号</button>
        </div>
        <div class="inputbox" v-show="inputshow">
            <div class="ax-form-group">
                    <div class="ax-form-con">
                        <div class="ax-form-input input"><input type="text" placeholder="请输入学号" ></div>
                    </div>
                    <div class="ax-form-con">
                        <div class="ax-form-input input"><input type="text" placeholder="请确认学号" ></div>
                    </div>
            </div>
        </div>
    </div>
</body>
<script>
        var vm = new Vue({
        el: '#root',
        data: {
            back2:false,
            back1:true,
            inputshow:false,
            textshow:true,
            studennumber: '2020424100xxx',
        },
        methods: {
            changenumber()
            {
                this.textshow=false;
                this.inputshow=true;
                this.back2=true;
                this.back1=false;
            },
            back()
            {
                this.textshow=true;
                this.inputshow=false;
                this.back2=false;
                this.back1=true;
            }
        },
        });
</script>
</html>