<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="email=no" />
    <meta name="wap-font-scale" content="no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>详情页</title>
    <meta name="keywords" content="页面关键字" />
    <meta name="description" content="页面描述" />
    <script src="../static/js/vue.js"></script>
    <link href="../static/axui/css/ax.css" rel="stylesheet" type="text/css">
    <link href="../static/css/web3search.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="mainbox" id="root">
        <div class="smbanner">
            <span class="ax-iconfont ax-icon-left-t back"></span>
            <div class="searchmode">
                <select axSelect  style="width: 17.6vw;padding: 1px;" v-model:value="searchmode">
                    <option value='0' selected>活动</option>
                    <option value="1">地区</option>
                </select>       
       </div>
       <div class="search">
        <div class="ax-form-group">
            <div class="ax-flex-row">
                <div class="ax-form-con">
                    <div class="ax-form-input" style="width: 289px;">
                        <div class="ax-row ax-input-group">
                            <div class="ax-flex-block ax-with-suffix">
                                <input name="username" placeholder="输入关键字..." type="text">
                                <span class="ax-pos-right"><a href="###" class="ax-iconfont ax-icon-close ax-val-none"></a></span>
                            </div>
                            <a href="###" class="ax-suffix ax-btn"><i class="ax-iconfont ax-icon-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
       </div>
       <div class="searchbtn"></div>
        </div>
        <div class="smborderbox">
            历史记录
        </div>
    </div>
</body>
<script>
        var vm = new Vue({
        el: '#root',
        data: {
            searchmode: 0,
        },
        methods: {
            
        },
    })

</script>
</html>