<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="email=no" />
    <meta name="wap-font-scale" content="no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户时长页</title>
    <meta name="keywords" content="页面关键字" />
    <meta name="description" content="页面描述" />
    <link href="../../static/css/web2edittime.css" rel="stylesheet" type="text/css" />
    <link href="../../static/axui/css/ax.css" rel="stylesheet" type="text/css">
    <script src="../../static/js/vue.js"></script>
</head>

<body>
    <div class="mainbox" id="root">
        <div v-if="notice" class="noticebox">
            <span class="back ax-iconfont ax-icon-left-t lefttext" @click="hidenotice"></span>
            <span class="noticetitle">评价</span>
            <div class="ax-form-group conmment">
                <div class="ax-form-input" style="width: 70vw;">
                    <textarea name="" cols="" rows="" placeholder="写评论"></textarea><span class="ax-pos-right"><a href="###" class="ax-iconfont ax-icon-close ax-val-none"></a></span>
                </div>
            </div>
            <button class="ax-btn noticeconfirm" @click="hidenotice">确定</button>
        </div>
        <div class="smbanner">
            <a class="back ax-iconfont ax-icon-left-t lefttext" href="web2-time-management-detail.html"></a>
            <span class="centertext">已报名活动</span>
            <span class="righttext" @click="shownotice">评价</span>
        </div>
        <div class="timeshow">
            <div class="timeicon"></div>
            <div class="timeresult">
                {{timeresults}}
            </div>
        </div>
        <div class="timeedit">
            <div class="signin sign">
                <span class="mark">签到时间</span>
                <span class="time">{{currenttime}}</span>
                <div class="inputbox">
                    <div class="ax-form-group">
                        <div class="ax-form-con">
                            <div class="ax-form-input" style="width: 21vw;">
                                <input placeholder="选择日期" type="text" axDate data-mode="dialog" data-nowClose="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="signout sign">
                <span class="mark">签退时间</span>
                <span class="time">{{currenttime}}</span>
                <div class="inputbox">
                    <div class="ax-form-group">
                        <div class="ax-form-con">
                            <div class="ax-form-input" style="width: 21vw;">
                                <input placeholder="选择日期" type="text" axDate data-mode="dialog" data-nowClose="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#root',
        data: {
            notice: false,
            timeresults: '6.6h',
            currenttime: '2022年8月1日',
        },
        methods: {
            shownotice() {
                this.notice = true;
            },
            hidenotice() {
                this.notice = false;
            }
        },
    })
</script>
<script src="../../static/axui/js/ax.min.js" type="text/javascript"></script>

</html>