<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/web2-college-administrator.css">
    <title>院管理员主页</title>
</head>

<body>
    <div class="header">
        <a href="web1mainpage.html" class="return">&lt;</a>
        <a href="web2-c-inform.html">
            <img src="../../static/images/alert.png" height="35px" width="35px" />
        </a>
    </div>
    <div class="user">
        <div class="userhead">
            <div class="frame"></div>
            <span class="username">院管理员</span>
        </div>
        <ul class="option">
            <li>
                <a href="web2-c-information-management.html">
                    <span class="p info"></span>
                    <span>信息管理</span>
                </a>
            </li>
            <li>
                <a href="web2-c-activities.html">
                    <span class="p activity"></span>
                    <span>志愿活动</span>
                </a>
            </li>
            <li>
                <a href="web2-time-management.html">
                    <span class="p time"></span>
                    <span>志愿者时长管理</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="p help"></span>
                    <span>帮助中心</span>
                </a>
            </li>
        </ul>
    </div>
</body>

</html>